@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-success: var(--success);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: #F5F4F0;
  --foreground: #1C1C2E;
  --card: #FFFFFF;
  --card-foreground: #1C1C2E;
  --popover: #FFFFFF;
  --popover-foreground: #1C1C2E;
  --primary: #1C1C2E;
  --primary-foreground: #FFFFFF;
  --secondary: #F0EEE9;
  --secondary-foreground: #1C1C2E;
  --muted: #F0EEE9;
  --muted-foreground: #6B7280;
  --accent: #F0EEE9;
  --accent-foreground: #1C1C2E;
  --destructive: #DC2626;
  --success: oklch(0.527 0.154 150.069);
  --border: #E5E3DC;
  --input: #E5E3DC;
  --ring: #9CA3AF;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}